.card{
    cursor: pointer;
    width: 250px;

    .image-container{
        width: 100%;
    
        .image{
            width: auto;
            aspect-ratio: 1.5;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius:1rem 1rem 0rem 0rem; 
        }
    }
    .text-container{
        background-color:hsl(0, 0%, 100%);
        padding: 2rem;
        border-radius:0rem 0rem 1rem 1rem; 

        &.dark{
            background-color:hsl(209, 23%, 22%);
        }
        .title{
            font-size: larger;
            font-weight: 700;
        }
        .info{
            margin: 0.25rem;
            font-weight: 600;
                span{
                    font-weight: 300;
                }
        }
    }    
}
.card:hover{
    transform: scale(1.05);
}
@media (max-width:1015px) {

        .card{
            .image-container{
                width: 100%;
            }
        }
}
@media (max-width:680px) {
        .card{
            .image-container{
                width: 100%;
            }
        }
}